body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    z-index: 9999;
    margin-top: 60px;
}
main{
}
/*CAMBIAR CONTRASEÑA*/
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.change-password-container {
    margin-bottom: 20px;
}

.change-password-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.change-password-container p {
    color: #666;
    margin-bottom: 20px;
}

.change-password-form .form-field {
    margin-bottom: 15px;
}

.change-password-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.change-password-form input[type="password"] {
    width: 95%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn-submit {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8DA9C4;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #8DA9C4;
}

