{% extends "base.html" %}
{% load static %}
{% block title %}BooksReview | Log-in{% endblock %}
{% block css %}
    <link href="{% static "css/login/login.css" %}" rel="stylesheet">
    <link href="{% static "css/login/normalize.css" %}" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
{% block nav %}{% endblock %}
{% block content %}
    <div class="contenedor-formulario contenedor">
        <div class="imagen-formulario"></div>
        <form method="post" class="formulario">
            {% csrf_token %}
            <div class="input-group">
                <div class="texto-formulario">
                    <center><img src="{% static 'img/icon/BooksReviews_20240610_114726_0000.png' %}" ></center>
                    <p>Powered by PANAS S.A</p>
                </div>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="input">
                    <label for="usuario">Usuario</label>
                    {{ form.username }}
                </div>
                <div class="input">
                    <label for="contraseña">Contraseña</label>
                    {{ form.password }}
                </div>
                <div class="password-olvidada">
                    <a href="{% url "password_reset" %}">¿Olvidaste tu contraseña?</a>
                </div>
                <div class="input">
                    {# <div class="g-recaptcha" data-sitekey="6LfM5_0pAAAAAMhrvU_2TT_2_zkyge5zAV2Hpsz6" data-action="login"></div> #}
                </div>
                <div class="input">
                    <input type="submit" value="Login">
                </div>
                <div class="password-olvidada">
                    <a href="{% url "register" %}">No tienes cuenta?</a><a href="{% url "register" %}">Registrate</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block js %}
    <script>
        // No es necesario usar alertas de JavaScript para mostrar errores
    </script>
{% endblock %}
