{% extends "base.html" %}
{% block title %}BooksReview | Contraseña actualizada{% endblock %}
{% block css %}
    <style>
        
        .alert {
        padding: 15px;
        margin-bottom: -10px;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    
    .alert-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }
    </style>
{% endblock %}
{% block content %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Contraseña actualizada</h4>
        <p>Su contraseña ha sido cambiada exitosamente.</p>
    </div>
{% endblock %}
