{% extends "base.html" %}
{% load static %}
{% block title %}Restablecer contraseña{% endblock %}
{% block css %}
    <link href="{% static "css/login/pass.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div>
        <h1>Restablecer tu contraseña</h1>
        {% if validlink %}
            <p>Por favor ingresa tu nueva contraseña dos veces:</p>
            <form method="post">
                {% csrf_token %}
                <div class="input">
                    <label for="new_pass">Nueva contraseña:</label>
                     {{ form.new_password1 }}
                </div>
                <div class="input">
                    <label for="new_pass">Confirma nueva contraseña:</label>
                     {{ form.new_password2 }}
                </div>
                <div class="controls">
                    <input type="submit" value="Cambiar contraseña">
                </div>
            </form>
        {% else %}
            <p>El enlace para restablecer la contraseña no era válido, posiblemente porque ya se ha utilizado. Por favor solicita un nuevo restablecimiento de contraseña.</p>
        {% endif %}
    </div>

{% endblock %}
