{% extends "base.html" %}
{% block title %}BooksReview | Cambiar contraseña{% endblock %}
{% load static %}
{% block css %}
    <link href="{% static "css/estilos.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <a style="text-decoration: none; color: white; font-weight: bold; display: inline-block; padding: 10px 20px; background-color: #8DA9C4; border-radius: 5px; margin-left: 100px; margin-top: 25px" href="{% url 'profile' %}">Regresar</a>
    <div class="container">
        <div class="change-password-container">
            <h1>Cambiar contraseña</h1>
            <p>Por favor, complete el siguiente formulario para cambiar su contraseña.</p>
            <form method="post" class="change-password-form">
                {% csrf_token %}
                <div class="form-field">
                    <label for="id_old_password">Contraseña actual:</label>
                    {{ form.old_password }}
                </div>
                <div class="form-field">
                    <label for="id_new_password1">Nueva contraseña:</label>
                    {{ form.new_password1 }}
                </div>
                <div class="form-field">
                    <label for="id_new_password2">Confirmar nueva contraseña:</label>
                    {{ form.new_password2 }}
                </div>
                <input type="submit" value="Cambiar contraseña" class="btn-submit" style="background-color:  #8DA9C4">
            </form>
        </div>
    </div>
        
{% endblock %}