{% extends "base.html" %}
{% load static %}
{% block title %}Restablecer contraseña{% endblock %}
{% block css %}
    <link href="{% static "css/login/pass.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <a style="text-decoration: none; color: white; font-weight: bold; display: inline-block; padding: 10px 20px; background-color: #8DA9C4; border-radius: 5px; margin-left: 100px; margin-top: 25px" href="{% url 'login' %}">Regresar</a>
    <div class="container">
        <h1>¿Olvidaste tu contraseña?</h1>
        <p>Ingresa tu dirección de correo electrónico para obtener una nueva contraseña.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="controls">
                <input type="submit" value="Enviar correo">
            </div>
        </form>
    </div>
{% endblock %}
