{% extends "base.html" %}
{% load static %}
{% block title %}BooksReview | Registro{% endblock %}
{% block css %}
    <link href="{% static "css/login/register.css" %}" rel="stylesheet">
{% endblock %}
{% block nav %}{% endblock %}
{% block content %}
    <section class="form-register">
        <h2>Registro</h2>
        <form method="post">
            {% csrf_token %}
            <div class="controls">
                {{ user_form.username }}
            </div>
            <div class="controls">
                {{ user_form.first_name }}
            </div>
            <div class="controls">
                {{ profile_form.date_of_birth }}
            </div>
            <div class="controls">
                {{ user_form.email }}
            </div>
            <div class="controls">
                {{ user_form.password1 }}
            </div>
            <div class="controls">
                {{ user_form.password2 }}
            </div>
            <div class="controls">
                <input type="submit" value="Crear">
            </div>
        </form>
        <p><a href="{% url 'login' %}">¿Ya tengo Cuenta?</a></p>
    </section>
{% endblock %}
