{% extends "base.html" %}
{% load static %}
{% block title %}BooksReview | Regsitro{% endblock %}
{% block css %}
    <link href="{% static "css/login/login.css" %}" rel="stylesheet">
    <link href="{% static "css/login/normalize.css" %}" rel="stylesheet">
{% endblock %}
{% block nav %}{% endblock %}
{% block content %}
     <div class="contenedor-formulario contenedor">
        <div class="imagen-formulario"></div>
        <form method="post" class="formulario">
            {% csrf_token %}
            <div class="input-group">
                <div class="texto-formulario">
                    <h2>BooksReviews</h2>
                </div>
                <div class="input">
                    <label for="{{ user_form.username.id_for_label }}" class="form-label">Usuario</label>
                    {{ user_form.username }}
                </div>
                <div class="input">
                    <label for="{{ user_form.first_name.id_for_label }}" class="form-label">Nombre</label>
                    {{ user_form.first_name }}
                </div>
                <div class="input">
                    <label for="{{ profile_form.date_of_birth.id_for_label }}" class="form-label">Fecha de Nacimiento</label>
                    {{ profile_form.date_of_birth }}
                </div>
                <div class="input">
                    <label for="{{ user_form.email.id_for_label }}" class="form-label">Correo Electrónico</label>
                    {{ user_form.email }}
                </div>
                <div class="input">
                    <label for="{{ user_form.password.id_for_label }}" class="form-label">Contraseña</label>
                    {{ user_form.password }}
                </div>
                <div class="input">
                    <label for="{{ user_form.password2.id_for_label }}" class="form-label">Repetir Contraseña</label>
                    {{ user_form.password2 }}
                </div>
                <div class="input">
                    <input type="submit" value="Crear">
                </div>
            </div>
        </form>
    </div>
{% endblock %}