{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block title %}BooksReview | Confirmar Eliminación{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/review/delete.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
    <form method="post">
        {% csrf_token %}
        <h1>Confirmar Eliminación</h1>
        <p>¿Estás super seguro de que quieres eliminar este libro?</p>
        <p><strong>Libro:</strong> {{ book.title }}</p>
        <button type="submit" class="dl-eliminar-btn">Eliminar</button>
        <a href="{% url 'book_list' %}" class="cancelar-btn">Cancelar</a>
    </form>
    </div>
{% endblock %}
